body, html {
    height: 100%;
}

body {
    background-image: linear-gradient(#77a3f9, #77acf2, #518bd8);
    background-size: cover;
    background-position: center;    
}

form {
    text-align: center;
    height: 586px;
    width: 450px;
    background-color: transparent;
    padding: 20px;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 10px rgba(0,0,0, .2);
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"] {
    height: 3%;
    width: 60%;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 20px;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgba(0,0,0, .2);
}

input::placeholder {
    color: #f7eded;
}

img {
    position: absolute;
    right: 120px;
    color: #f7eded;
}

input[type="submit"] {
    background-color: #f7eded;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 7%;
    width: 60%;
}

h1 {
    text-align: center;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 500%;
    color: #f7eded;
}

p {
    font-family: "Franklin Gothic", sans-serif;
    color: #f1eded;
}

#imgEmail {
    bottom: 345px;
}

#imgSenha {
    bottom: 235px;
}
